.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  
  .text {
    display: flex;
    justify-content: center;
    flex-direction: row;
  
  }



  .text, p {
    width: 70%;

  }

  a{
    color: rgb(255, 29, 86) ;
  }

  h2,h3{
    font-family: "Montserrat", serif;
  }


  .input-range1, .input-range2 {
    width: 80%;
  }

  
  .h2-zarabotai {
    font-size: 40px;
  }
  
  .kalklator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .pervaiachast, .vtarachast {
    border-radius: 16px;
    background-color: rgb(242, 243, 250);
    box-shadow: rgba(108, 107, 158, 0.26) 0px 6px 20px 0px;
  }
  
  .pervaiachast {
    width: 700px;
    height: 350px;
  }
  
  .img-text {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
    padding-left: 35px;
    width: 100%;
  }
  
  .input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  
    height: 250px;
  }

  a{
    text-decoration: none;
  }
  
  .input-range-container {
    display: flex;
    gap: 50px;
  }

  span{
    font-size: 20px;
  }
  
  .range-values {
    width: 65%; 
    display: flex; 
    justify-content: space-between; 
    margin-top: 5px;
  }
  
  .input-text1, .input-text2 {
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 30px;
  }
  
  .vtarachast {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    justify-content: space-around;
    width: 400px;
    height: 350px;
  }

  .text-content p {
    padding-top: 25px;
    font-size: 25px;
    width: 90%;
  }

  .income-amount{
    font-size: 50px;
  }
  
  .chel-vachkax {
    width: 350px;
    height: 350px;
  }
  
  @media (max-width: 1000px) {
    
    .text, p {
      width: 90%;
  
    }


    .container{
      gap: 20px;
    }

    .h2-zarabotai {
      font-size: 20px;
      margin-bottom: 10px;
      margin-right: 20px;
      text-align: center;
    }

    .input-group h3{
      font-size: 12px;
    }

   .income-amount{
    font-size: 30px;
   }
    
    .input-text1, .input-text2{
      margin-right: 20px;
      width: 100px;
      height: 30px;
      font-size: 15px;
      padding: 5px;
    }

    .vtarachast{
      margin-bottom: 20px;
    }
  
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
    }


    .range-values{
      width: 70%;
    }


    .text-content{
      display: flex;
      gap: 15px;
      flex-direction: column;
    }

    .input-range-container{
      gap: 20px;
    }

  

    .text-content p {
      font-size: 17px;
      text-align: center;
       padding: 4px;
       margin-bottom: 14px;
    }
  
    .kalklator {
      width: 100%;
      flex-direction: column;
    }

    .chel-vachkax{
      width: 70%;
      height: auto;
    
    }
  
    .pervaiachast {
      width: 95%;
      height: auto;
    }

  
    .vtarachast {
      width: 95%;
      height: auto;
    }

    @media (min-width: 370px) and (max-width: 500px) {
     
      p{
        font-size: 17px;
      }
    
      .h2-zarabotai{
        font-size: 35px;
      }
    }

  
    @media (min-width:550px) and (max-width: 1000px) {
        p{
          font-size: 17px;
        }

        .h2-zarabotai{
          font-size: 40px;
        }
    }

    

  } 

