<div id="section7" class="fon">
<h2 class="h2-glavni" style="text-align: center; margin-bottom: 10px;">Мои ресурсы</h2>
<div class="container">
        <div class="borde-1 border">
                <div class="border-right">
                <h3>Youtube</h3>
                <div class="right-text-photo-1">
              <img src= "/assets/img/youtube.png"  alt=""
               width="285px"
               height="285px">
                <p class="p-text-right1"> <a href="https://www.youtube.com/channel/UCJqcc5UMxFnzcpGWDudHIYQ">YouTube</a> - Здесь я публикую полезный контент  по Продвижению 
                 и Заработку на Youtube. Тут немного видео  на данный момент, но 
                 в них есть эксклюзивная и полезная информация. Я не называю себя 
                 «экспертом», не продаю курсы и не собираюсь этого делать. Я делюсь 
                  своим опытом по Youtube на канале
                </p>
            </div>
              </div>
              <div   class="border-left">
                <h2 class="h2-position">Telegram</h2>
                <div class="left-text-photo-1">
              <img src="/assets/img/telegram.png" alt=""
               width="285px"
               height="285px">
                <p class="p-text-left1" > <a href="https://t.me/Koktely_Prod">Telegram</a> - Здесь я тоже публикую полезный контент по Продвижению и Заработку на Youtube. 
                  В основном я рассказываю тут о своем пути. В отличии от YouTube и Instagram тут есть много
                   контента, я даже делал путеводитель. Здесь есть много постов с экслюзивной информацией, так 
                   что подписывайся!</p>
                </div>
              </div>
        </div>

        <div class="border-2 border">
                <div class="border-right">
                    <h3>Связаться</h3>
                    <div class="right-text-photo-1" >
                  <img  src="/assets/img/qyarchorni.png" alt=""
                   width="260px"
                   height="270px">
                    <p class="p-text-right1" >Вы можете написать мне в telegram, мой юзернейм <a href="https://t.me/cocktail_prod">{{email}}</a> 
                      Именно через telegram я в основном покупаю каналы, так что если хотите продать канал вы по адресу!</p>
                      </div>
                </div>
                <div class="border-left">
                    <h2 class="h2-position">Instagram</h2>
                    <div class="left-text-photo-1">
                  <img  src="/assets/img/instagram.png" alt=""
                   width="310px"
                   height="300px">
                   <p class="p-text-left1" > <a href="https://www.instagram.com/reas0nable_invest0r/">Instagram</a> - Здесь я публикую контент из реальной жизни, назовем это личным блогом. Пока что тут практически нету фото, где я нахожусь в кадре. Но я собираюсь активизироваться в введении аккаунта и поэтому вы сможете больше узнавать о моей жизни.</p>
                   </div>
                </div>
        </div>

        <!-- <div class="border-3 border"></div> -->
</div>
</div>